* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: blueviolet;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Todo {
  width: 90%;
  max-width: 500px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.header {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

#title {
  height: 10%;
  text-align: center;
  font-family: "Tangerine", cursive;
  font-weight: 900;
  font-style: normal;
  margin: 1.5rem 0;
}


#taskInput {
  border: 2px solid black;
  padding: 0.75rem 1.2rem;
  border-radius: 5px;
}

#addBtn {
  border: none;
  background-color: blueviolet;
  color: white;
  padding: 0.8rem 0.9rem;
  margin-left: 5px;
  border-radius: 5px;
}

.taskContainer {
  height: 70%;
  margin-top: 1.5rem;
  overflow-y: auto;
}

.taskContainer ul {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.taskContainer ul li {
  width: 75%;
  display: flex;
  list-style: none;
  font-size: 1.3rem;
}

.taskContainer ul li .check {
  accent-color: purple;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid black;
  margin-right: 20px;
  cursor: pointer;
}

.taskContainer ul li i {
  height: 30px;
  width: 30px;
  margin-left: auto;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  text-decoration: line-through;
}

.check:checked + .text {
  text-decoration: line-through;
  opacity: 0.5;
}

.text {
  transition: all 0.2s ease;
}

  /* Dark Mode Styles */
.dark{
  background-color: #2d2d2d;
}

.dark .header #addBtn{
  background-color: #444;
  color: white;
}
.dark .Todo {
  background-color: #1e1e1e;
  color: white;
}
.dark .taskContainer ul li .check {
  accent-color: white;
  border-color: #555;
}
.dark #taskInput {
  background-color: #2a2a2a;
  color: white;
  border-color: #555;
}

/* Responsive Design */

@media (max-width: 480px) {
  #taskInput {
    flex: 1;
    min-width: 0;
    padding: 0.8rem 0.5rem;
    margin-left: 0.6rem;
    font-size: 0.9rem;
  }

  #addBtn {
    padding: 0.87rem 0.7rem;
    font-size: 0.9rem;
    margin-right: 0.6rem;
  }
}
